include AUTHORS
include LICENSE
include DESCRIPTION
include CHANGELOG.txt
include README.md
recursive-include registration_email *.py *.txt *.html
prune registration_email/.ropeproject
exclude *.orig *.pyc
